<%= button_to "Sync Products", sync_products_path, method: :post, class: "btn btn-secondary" %>

<%= form_with url: add_to_cart_products_path, method: :post do %>
  <div class="row">
    <% @products.order(updated_at: :desc).each do |product| %>
      <div class="col-md-3">
        <div class="card">
          <%= image_tag product.image, width: '100', height: '150' %>
          <div class="card-body">
            <div class="card-title">
              <div class="card-text-centre">
                <%= product.title.truncate(25) %><br>
                <%= product.price %><br>
                <%= product.description.truncate(25) %>
                <%= check_box_tag 'ids[]', product.id %> add to cart
              </div>
              <%= link_to 'View', product_path(product), class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary' %>
              <%= link_to "Destroy", product_path(product), data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"
                            }, class: "btn btn-danger" %>          
            </div>
          </div>
        </div>
      </div>     
    <%end%>
  </div>
  <%= submit_tag "Add To Cart", class: "btn btn-primary" %>
<%end%>
